/* Centralizar o conteúdo da página */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c0e4cc;
  font-family: 'Arial', sans-serif;
}

/* Estilização do título */
h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Estilização das perguntas */
h2 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

/* Estilização das opções de resposta */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #006400;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #0056b3;
}

/* Estilização do resultado */
button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

/* Estilo do status da rodada e pontuação */
.status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.status p {
  margin: 0;
  font-size: 18px;
  color: #333;
}







