body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #4caf50, #2196f3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
  color: white;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), inset 0 -5px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
}

.pergunta h2 {
  font-size: 18px;
  color: #333;
}

.opcoes button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #4caf50;
  color: white;
  font-size: 14px;
  transition: 0.3s ease;
  cursor: pointer;
}

.opcoes button:hover {
  background: #388e3c;
  transform: scale(1.1);
}

.resultado {
  background: white;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), inset 0 -5px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resultado h2 {
  color: #333;
}

.resultado button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #f44336;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.resultado button:hover {
  background: #d32f2f;
}




